.dashboard-wrapper {
  position: relative;
  left: 0;
  margin-left: 264px;
  min-height: 870px !important;
}
.dashboard-main-wrapper {
  min-height: 100%;
  padding-top: 30px;
  position: relative;
}

.dashboard-content {
  padding: 30px 30px 60px 30px;
}

.dashboard-finance .ct-label {
  display: none;
}

/* .dashboard-wrapper {
  margin-left: 0px !important; */
/* } */

@media only screen and (max-width: 768px) {
  .dashboard-content {
    padding: 20px 20px 60px 20px;
  }
  .nav-left-sidebar .navbar a {
    color: #fff;
    font-size: 18px;
  }
  .nav-left-sidebar .navbar {
    padding: 14px;
  }
  .nav-left-sidebar {
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
  }
  /* .dashboard-wrapper {
      margin-left: 0px;
    } */
  .dashboard-footer {
    margin-left: 0px;
  }
  .nav-left-sidebar .navbar-toggler {
    background-color: #fff;
  }

  /* infulencer dahboard */
  .dashboard-influence .card-footer-item {
    padding: 11px 54px;
  }
  .influencer-profile .tab-regular .nav.nav-tabs .nav-item .nav-link,
  .influencer-profile .tab-regular .nav.nav-pills .nav-item .nav-link {
    display: block;
    padding: 17px 13px;
  }

  /* Inbox */
  .page-aside {
    background: none repeat scroll 0 0 #ffffff;
    width: 280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #e6e6f2;
    margin-top: 0;
    padding-bottom: 0px;
    color: #404040;
  }

  /*--------- dashboard-product-single -------- */
  .product-slider {
    padding: 131px 30px;
  }
  .product-carousel .carousel-indicators {
    bottom: -30px;
  }

  /*--------- dashboard-influence -------- */
  .user-social-media {
    padding: 16px 45px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    border-right: transparent !important;
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-content {
    padding: 20px 20px 60px 20px;
  }
  .nav-left-sidebar .navbar a {
    color: #fff;
  }
  .nav-left-sidebar .navbar-toggler {
    background-color: #fff;
  }
  .aside-header .navbar-toggle {
    display: block;
  }
  .nav-left-sidebar .navbar {
    padding: 14px;
  }
  .nav-left-sidebar {
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
  }

  .dashboard-wrapper {
    margin-left: 0px;
  }
  .dashboard-footer {
    margin-left: 0px;
  }
  .page-aside {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0px;
    border-right: transparent;
    margin-top: 0px;
    padding-bottom: 0px;
    color: #404040;
    border-bottom: 1px solid #e6e6f2;
  }
  .aside-nav.collapse {
    display: none;
  }
  .dashboard-main-wrapper .main-content {
    margin-left: 0px;
    width: auto;
  }
  .aside-nav.show {
    display: block;
  }

  /*--------- dashboard-influence -------- */
  .user-social-media {
    padding: 16px 45px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    border-right: transparent !important;
  }
  .user-social-media:last-child {
    border-bottom: transparent;
    border-right: transparent !important;
  }
  .dashboard-influence .progress {
    width: 74%;
  }
  .footer {
    margin-left: 0px !important;
  }
  .influencer-profile-data .user-avatar {
    float: initial;
  }
  .influencer-profile-data .user-avatar-name {
    float: initial;
  }
  .dashboard-influence .card-footer-item {
    padding: 11px 48px;
  }

  /*--------- dashboard-profile -------- */
  .tab-regular .nav.nav-tabs .nav-item .nav-link,
  .tab-regular .nav.nav-pills .nav-item .nav-link {
    display: block;
    padding: 17px 38px;
  }
  .tab-regular .nav.nav-tabs .nav-item,
  .tab-regular .nav.nav-pills .nav-item {
    margin-bottom: 5px;
  }
  /*--------- dashboard-product-single -------- */
  .product-slider {
    padding: 30px 10px;
  }
  .product-carousel .carousel-indicators {
    bottom: -30px;
  }
  .simple-card .nav.nav-tabs .nav-item .nav-link {
    padding: 17px 29px !important;
  }
}

.page-header {
  margin-bottom: 30px !important;
}

.pageheader-text {
  margin-bottom: 14px;
  display: none;
}

.page-breadcrumb .breadcrumb-link {
  color: #a6a6b7 !important;
}

.page-breadcrumb .breadcrumb-link:hover {
  color: #8b8ead !important;
}

.page-breadcrumb .breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  border-top: 1px solid #e0e4ef;
  padding-top: 10px;
  font-size: 12px;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #b1b1c0;
  content: "\f105";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 600;
}

.page-breadcrumb .breadcrumb-item.active {
  color: #71728e;
}

.breadcrumb {
  margin: 0;
  background-color: transparent;
}

h5 {
  font-size: 15px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  border: none !important;
}

.text-muted {
  color: rgb(113, 113, 166) !important;
}

.card-header {
  background-color: #fff !important;
  border-bottom: none !important;
}

.metric-value {
  margin-bottom: 0px;
  line-height: 1;
  white-space: nowrap;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
  white-space: nowrap !important;
  font-size: 32px;
  font-weight: 600;
}
