.nav-left-sidebar {
  position: fixed;
  width: 264px;
  height: 100%;
  top: 60px;
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"] {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]::after {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  right: 20px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.nav-left-sidebar
  .nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
  transform: rotate(-90deg);
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]:after {
  transition: transform 0.35s ease, opacity 0.35s ease;
  opacity: 0.5;
}

.nav-left-sidebar .navbar-nav {
  width: 100%;
}

.nav-left-sidebar .navbar {
  position: relative;
  padding: 14px;
}

.nav-left-sidebar .navbar-nav .nav-item {
}

.nav-left-sidebar .navbar-nav .nav-link {
  font-size: 14px !important;
  padding: 12px !important;
  /* margin-bottom: 2px; */
  color: #71789e !important;
  transition: 0.3s !important;
}

.nav-left-sidebar .nav-link i {
  font-size: 14px !important;
  margin-right: 9px !important;
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 16px !important;
}

.nav-left-sidebar .submenu {
  padding-left: 12px;
  padding-right: 12px;
  /* margin-top: 5px; */
  background: #24274a;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link {
  font-size: 14px;
  padding: 6px 12px;
  transition: 0.3s;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: #e2e2eb;
  color: #3d405c;
  border-radius: 2px;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link:hover {
  background-color: #e2e2eb;
  color: #3d405c;
  border-radius: 2px;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
  color: #3d405c;
  border-radius: 2px;
  background-color: transparent;
}

.nav-left-sidebar .navbar-toggler {
  background-color: #fff;
}

.sidebar-primary {
  background-color: #414da7;
}

.sidebar-primary .nav-divider {
  color: #ddddff;
}

.sidebar-primary.nav-left-sidebar .nav-link i {
  color: #8991d4;
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-item {
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link {
  color: #8991d4;
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #5761c2;
  border-radius: 2px;
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: #5761c2 !important;
  color: #fff !important;
  border-radius: 2px !important;
}

.sidebar-primary.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
  color: #fff !important;
  border-radius: 2px;
  background-color: transparent;
}

.sidebar-dark {
  background-color: #0e0c28;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
}

.sidebar-dark .nav-divider {
  color: #a4aadb;
  font-size: 12px;
  letter-spacing: 1px;
}

.sidebar-dark.nav-left-sidebar .nav-link i {
  color: #7a80b4 !important;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item {
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
  color: #7a80b4;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #242849;
  border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: #242849;
  color: #fff;
  border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
  color: #fff;
  border-radius: 2px;
  background-color: #242849;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item .badge {
  position: absolute;
  right: 40px;
  display: none;
}

/*-----navigation dark ---*/

/*-----------------------
  Sidebar Page Navigations
  -------------------------*/

.sidebar-nav-fixed {
  position: sticky;
  top: 5rem;
}

.sidebar-nav-fixed ul {
}

.sidebar-nav-fixed ul li {
}

.sidebar-nav-fixed ul li a {
  font-size: 14px;
  color: #71728e;
  display: block;
  padding: 5px 15px;
  background: transparent;
  border-radius: 4px;
  line-height: 1.8;
}

.sidebar-nav-fixed ul li a:hover {
  color: #5969ff;
}

.sidebar-nav-fixed ul li a.active {
  display: block;
  color: #5969ff;
  background: #e0e0fd;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: #242849;
  color: #fff !important;
  border-radius: 2px;
}

svg {
  margin-right: 9px;
  font-size: 14px;
  text-align: center;
  color: rgb(122, 128, 180);
  overflow: hidden;
  margin-left: 5px;
  line-height: 16px;
  font-weight: 900;
  vertical-align: middle;
}
